@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #353543;
  font-family: Poppins;
  padding: 0 80px 0 80px;
}

/* ===== navbar ===== */
nav {
    background-color: #353543;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
nav h1 {
    color: #eeeeee;
    font-weight: 500;
    font-size: 20px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav li {
    list-style-type: none;
    margin-right: 20px;
}
nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover {
    color: #4fcca3;
}

/* ===== jumbotron ===== */
.jumbotron {
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
    color: #eeeeee;
}
.jumbotron-title {
    width: 100%;
    position: relative;
    padding-right: 10px;
}
.jumbotron-title .upper-title {
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 0;
}
.jumbotron-title .lower-title {
    margin-top: 0;
    font-size: 50px;
    line-height: 1.2;
}
.jumbotron-title p {
    font-size: 15px;
    font-weight: 200;
}
.jumbotron-title .divider-title {
    padding: 2px;
    width: 45%;
    background-color: #4fcca3;
    margin: 30px 0 30px 0;
}
aside {
    display: flex;
    width: 100%;
    position: relative;
    z-index: -1;
}
aside img {
    width: 300px;
}
aside .bio h1 {
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 15px;
}
aside .bio p {
    font-size: 18px;
    font-weight: 200;
    text-align: left;
}
aside ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}
aside ul svg {
    width: 20px;
    fill: #4fcca3;
}
aside ul li {
    display: flex;
    background-color: #48485B;
    padding: 13px;
    border-radius: 100%;
}
aside .bg-circle {
    padding: 250px;
    background-color: #2B2B36;
    position: absolute;
    border-radius: 100%;
    top: -15%;
    left: -18%;
    z-index: -2;
}

/* ===== tech stack ===== */
.tech-stack {
    padding: 35px 70px;
    background-color: #3F3F50;
    box-shadow: 4px -8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tech-stack ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}
.tech-stack .lower-stack {
    padding-top: 30px;
}
.tech-stack li {
    display: flex;
    padding: 10px 20px;
    background-color: #353543;
    align-items: center;
}
.tech-stack li img {
    width: 50px;
}
.tech-stack li h1 {
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    color: #eeeeee;
}

/*===== portofolio section ===== */
